/*
!/.gitignore
!/CHANGELOG.md
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/PelsoOpenAPIValidatorBundle.php
!/Controller
!/DependencyInjection
!/Resources
!/Tests
!/Service
/vendor/
!/phpunit.xml

!/composer.*